html,body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
.main_wrapper{
    height: 100%;
    margin: 5%;
}

ul{
    list-style: none;
}
li{
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}
li:hover{
    background-color: aliceblue;
}
/*
================================
HEADER
================================
*/
.header_wrapper,.left{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.left h1{
    margin-right: 15px;
}
.left span{
    margin-right:5px ;
}
.dropdown{
    cursor: pointer;
}
.genderFilter,.cardFilter{
    position: absolute;
    background-color: rgb(235, 225, 225);
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}
.genderFilter{
    top: 6rem;
    left: 21rem;
}
.cardFilter{
    top: 6rem;
    left: 35rem;
}
.right input{
    padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(70, 67, 67);
    outline: none;
}
/*
================================
Table
================================
*/
table{
    width: 100%;
    text-align: left;
}
th,td{
    padding: 10px;
}
th{
    background-color: aliceblue;
}
td{
    border-bottom: 1px solid rgb(61, 59, 59);
}
tr:nth-child(even){
    background-color: rgb(245, 204, 204);
}
/*
================================
Pagination
================================
*/
.pagination_wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pagination_wrapper button{
    padding: 10px;
    margin-top: 10px;
}
